In [3]:
import pandas as pd
import numpy as np

In [5]:
temps = pd.Series([95.5, 72.1, 105.2], index=['Dallas', 'Chicago', 'Miami'])
temps

Dallas      95.5
Chicago     72.1
Miami      105.2
dtype: float64

In [6]:
temps.apply(np.floor)

Dallas      95.0
Chicago     72.0
Miami      105.0
dtype: float64

In [ ]:
temps.apply(np.floor)

In [9]:
temps.apply(lambda temp: ((temp - 32) * 5) / 9)

Dallas     35.277778
Chicago    22.277778
Miami      40.666667
dtype: float64

In [10]:
def far_to_cell(temp):
    return ((temp - 32) * 5) / 9

temps.apply(far_to_cell)

Dallas     35.277778
Chicago    22.277778
Miami      40.666667
dtype: float64

In [13]:
def avg_temps(x, *args):
    for value in args:
        x += int(value)
    return x / (len(args) + 1)

temps.apply(avg_temps, args =(80, 100, 93))

Dallas     92.125
Chicago    86.275
Miami      94.550
dtype: float64

In [14]:
def avg_temps(x, **kwargs):
    for value in kwargs:
        x += int(kwargs[value])
    return x / (len(kwargs) + 1)

temps.apply(avg_temps, June=87, July=100, August=93)

Dallas     93.875
Chicago    88.025
Miami      96.300
dtype: float64