In [4]:
import pandas as pd

In [5]:
tuesday = pd.Series({'lab1': '1.30', 'lab2': '1.35',
                    'lab3': '1.20', 'lab4': '1.40'})

In [6]:
wednesday = pd.Series({'lab1': '1.20', 'lab2': '1.15',
                    'lab3': '1.30', 'lab4': '1.20'})

In [7]:
laps = pd.concat([tuesday, wednesday])
laps

lab1    1.30
lab2    1.35
lab3    1.20
lab4    1.40
lab1    1.20
lab2    1.15
lab3    1.30
lab4    1.20
dtype: object

In [8]:
laps = pd.concat([tuesday, wednesday], ignore_index=True)
laps

0    1.30
1    1.35
2    1.20
3    1.40
4    1.20
5    1.15
6    1.30
7    1.20
dtype: object

In [10]:
laps = pd.concat([tuesday, wednesday], keys=['tuesday', 'wednesday'])
laps

tuesday    lab1    1.30
           lab2    1.35
           lab3    1.20
           lab4    1.40
wednesday  lab1    1.20
           lab2    1.15
           lab3    1.30
           lab4    1.20
dtype: object

In [16]:
john = pd.DataFrame(['1.30','1.35','1.20'],
                   columns=['John'],
                   index=['lap1', 'lap2', 'lap3'])
ashley = pd.DataFrame(['1.20','1.15','1.30'],
                   columns=['Ashley'],
                   index=['lap1', 'lap2', 'lap3'])

runners = pd.concat([john, ashley], axis=1)
runners

      John Ashley
lap1  1.30   1.20
lap2  1.35   1.15
lap3  1.20   1.30

In [17]:
john = pd.DataFrame(['1.30','1.35','1.20'],
                   columns=['John'],
                   index=['lap1', 'lap2', 'lap3'])
ashley = pd.DataFrame(['1.20','1.15','1.30', '1.15'],
                   columns=['Ashley'],
                   index=['lap1', 'lap2', 'lap3', 'lap4'])

runners = pd.concat([john, ashley], axis=1)
runners

      John Ashley
lap1  1.30   1.20
lap2  1.35   1.15
lap3  1.20   1.30
lap4   NaN   1.15

In [18]:
john = pd.DataFrame(['1.30','1.35','1.20'],
                   columns=['John'],
                   index=['lap1', 'lap2', 'lap3'])
ashley = pd.DataFrame(['1.20','1.15','1.30', '1.15'],
                   columns=['Ashley'],
                   index=['lap1', 'lap2', 'lap3', 'lap4'])

runners = pd.concat([john, ashley], axis=1, join='inner')
runners

      John Ashley
lap1  1.30   1.20
lap2  1.35   1.15
lap3  1.20   1.30