In [1]:
import pandas as pd
import numpy as np

In [3]:
values = pd.DataFrame(np.arange(16).reshape(4,4),
                     columns=['a','b','c','d'])
values

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
values.drop(['a','b'], axis=1)

    c   d
0   2   3
1   6   7
2  10  11
3  14  15

In [6]:
values.drop([0, 1], axis=0)

    a   b   c   d
2   8   9  10  11
3  12  13  14  15

In [30]:
index = pd.MultiIndex(levels=[['Q1','Q2'],
                             ['True','False']],
                     codes=[[0, 0, 1, 1],
                           [0, 1, 0, 1]])
questions = pd.DataFrame(index=index, columns=['Class1', 'Class2'],
                        data=[[15, 10], [15, 20],
                             [20, 22], [10, 8]])
questions

          Class1  Class2
Q1 True       15      10
   False      15      20
Q2 True       20      22
   False      10       8

In [31]:
questions.drop(index='True', level=1)

          Class1  Class2
Q1 False      15      20
Q2 False      10       8

In [32]:
questions.drop(index='Q1', level=0)

          Class1  Class2
Q2 True       20      22
   False      10       8

In [33]:
questions.drop(columns='Class2')

          Class1
Q1 True       15
   False      15
Q2 True       20
   False      10

In [34]:
questions.drop(index='Q2', columns='Class2')

          Class1
Q1 True       15
   False      15