## Alternative-1

In [22]:
# pip3 install mysql-connector
import mysql.connector
import pandas as pd

mysql_user_pass = pd.read_csv('mysql_user_pass.csv', index_col=0)
username = mysql_user_pass['mysql_user'][0]
password = mysql_user_pass['mysql_pass'][0]
conn = mysql.connector.connect(host='localhost', user=username, password=str(password), database='employees')

df = pd.read_sql_query('SHOW TABLES FROM employees', conn)
print(df)

    Tables_in_employees
0      current_dept_emp
1           departments
2              dept_emp
3  dept_emp_latest_date
4          dept_manager
5             employees
6             hire_date
7              salaries
8                titles

In [23]:
tables = df['Tables_in_employees']
for table_name in tables:
    output = pd.read_sql_query(f'DESCRIBE {table_name}', conn)
    print(table_name)
    print(output, '\n')

current_dept_emp
       Field        Type Null Key Default Extra
0     emp_no      b'int'   NO        None
1    dept_no  b'char(4)'   NO        None
2  from_date     b'date'  YES        None
3    to_date     b'date'  YES        None

departments
       Field            Type Null  Key Default Extra
0    dept_no      b'char(4)'   NO  PRI    None
1  dept_name  b'varchar(40)'   NO  UNI    None

dept_emp
       Field        Type Null  Key Default Extra
0     emp_no      b'int'   NO  PRI    None
1    dept_no  b'char(4)'   NO  PRI    None
2  from_date     b'date'   NO         None
3    to_date     b'date'   NO         None

dept_emp_latest_date
       Field     Type Null Key Default Extra
0     emp_no   b'int'   NO        None
1  from_date  b'date'  YES        None
2    to_date  b'date'  YES        None

dept_manager
       Field        Type Null  Key Default Extra
0     emp_no      b'int'   NO  PRI    None
1    dept_no  b'char(4)'   NO  PRI    None
2  from_date     b'date'   NO         None
3    to_date     b'date'   NO         None

employees
        Field              Type Null  Key Default Extra
0      emp_no            b'int'   NO  PRI    None
1  birth_date           b'date'   NO         None
2  first_name    b'varchar(14)'   NO         None
3   last_name    b'varchar(16)'   NO         None
4      gender  b"enum('M','F')"   NO         None
5   hire_date           b'date'   NO         None

hire_date
       Field    Type Null Key Default Extra
0  hire_date  b'int'  YES        None
1          M  b'int'  YES        None
2          F  b'int'  YES        None

salaries
       Field     Type Null  Key Default Extra
0     emp_no   b'int'   NO  PRI    None
1     salary   b'int'   NO         None
2  from_date  b'date'   NO  PRI    None
3    to_date  b'date'   NO         None

titles
       Field            Type Null  Key Default Extra
0     emp_no          b'int'   NO  PRI    None
1      title  b'varchar(50)'   NO  PRI    None
2  from_date         b'date'   NO  PRI    None
3    to_date         b'date'  YES         None

In [24]:
employees_hired_year = 'SELECT\
                        YEAR(hire_date) as hire_date,\
                        gender,\
                        COUNT(emp_no) as employee_count\
                        FROM employees\
                        GROUP BY YEAR(hire_date), gender\
                        ORDER BY hire_date ASC'

df = pd.read_sql_query(employees_hired_year, conn)

table = pd.pivot_table(df, values='employee_count', index='hire_date', columns='gender')
print(table)

gender         F      M
hire_date
1985       14047  21269
1986       14434  21716
1987       13426  20075
1988       12804  18632
1989       11501  16893
1990       10200  15410
1991        8910  13658
1992        8079  12323
1993        7147  10625
1994        6017   8818
1995        4795   7320
1996        3770   5804
1997        2609   4060
1998        1696   2459
1999         609    905
2000           7      6

#################

## Alternative-2

In [27]:
# pip3 install pymysql
# pip3 install sqlalchemy
from sqlalchemy import create_engine
mysql_user_pass = pd.read_csv('mysql_user_pass.csv', index_col=0)
username = mysql_user_pass['mysql_user'][0]
password = mysql_user_pass['mysql_pass'][0]

engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost:3306/employees')
df2 = pd.read_sql_table('employees', engine)
print(df2)

        emp_no birth_date first_name last_name gender  hire_date
0        10001 1953-09-02     Georgi   Facello      M 1986-06-26
1        10002 1964-06-02    Bezalel    Simmel      F 1985-11-21
2        10003 1959-12-03      Parto   Bamford      M 1986-08-28
3        10004 1954-05-01  Chirstian   Koblick      M 1986-12-01
4        10005 1955-01-21    Kyoichi  Maliniak      M 1989-09-12
...        ...        ...        ...       ...    ...        ...
300019  499995 1958-09-24     Dekang  Lichtner      F 1993-01-12
300020  499996 1953-03-07       Zito      Baaz      M 1990-09-27
300021  499997 1961-08-03    Berhard    Lenart      M 1986-04-21
300022  499998 1956-09-05   Patricia   Breugel      M 1993-10-13
300023  499999 1958-05-01     Sachin   Tsukuda      M 1997-11-30

[300024 rows x 6 columns]

In [36]:
employees_hired_year = 'SELECT\
                        YEAR(hire_date) as hire_date,\
                        gender,\
                        COUNT(emp_no) as employee_count\
                        FROM employees\
                        GROUP BY YEAR(hire_date), gender\
                        ORDER BY hire_date ASC'

df3 = pd.read_sql_query(employees_hired_year, engine)
df3 = pd.pivot_table(df3, values='employee_count', index='hire_date', columns='gender')
print(df3)

gender         F      M
hire_date
1985       14047  21269
1986       14434  21716
1987       13426  20075
1988       12804  18632
1989       11501  16893
1990       10200  15410
1991        8910  13658
1992        8079  12323
1993        7147  10625
1994        6017   8818
1995        4795   7320
1996        3770   5804
1997        2609   4060
1998        1696   2459
1999         609    905
2000           7      6

### to_sql

In [35]:
df3.to_sql('gender_employee', con=engine, if_exists='append')

In [8]:
# df1 = pd.DataFrame(data = [['xxxx', '00000000']], columns=['mysql_user', 'mysql_pass'])
# df1.to_csv('mysql_user_pass.csv')

# mysql_user_pass = pd.read_csv('mysql_user_pass.csv', index_col=0)
# username = mysql_user_pass['mysql_user'][0]
# password = str(mysql_user_pass['mysql_pass'][0])