<h2>adding column</h2>
<h4><p><li>df['full_name'] = df['first'] + ' ' + df['last']</li></p></h4>
<h4><p><li>df[['first', 'last']] = df['full_name'].str.<font color="red">split</font>(' ', expand=True)</li></p></h4>

<h2>removing column</h2>
<h4><p><li>df.<font color="red">drop</font>(columns=['first', 'last'], inplace=True)</li></p></h4>

<h2>adding row</h2>
<h4><p><li>df.<font color="red">append</font>({'first': 'Tony'}, <font color="red">ignore_index=True</font>)</li></p></h4>
<h4><p><li>df = df.append(<font color="red">df2</font>, ignore_index=True)</li></p></h4>

<h2>removing row</h2>
<h4><p><li>df.drop(<font color="red">index=4</font>)</li></p></h4>
<h4><li>filt = (df['last'] == 'Doe')   <font color="blue">---></font>   df.drop(index=df[filt].<font color="red">index</font>)</li></h4>

In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "janeDoe@email.com", "JohnDoe@email.com" ]
}

In [3]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        janeDoe@email.com
2   John      Doe        JohnDoe@email.com

In [4]:
df['full_name'] = df['first'] + ' ' + df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        janeDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [5]:
df.drop(columns=['first', 'last'], inplace=True)
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        janeDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [6]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        janeDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [7]:
df.append({'first': 'Tony'}, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        janeDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [8]:
people = {
    "first": ["Tony", "Steve"],
    "last": ["Stark", "Rogers"],
    "email": ["IronMan@avenge.com", "Cap@avenge.com"]
}
df2 = pd.DataFrame(people)
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [9]:
df = df.append(df2, ignore_index=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        janeDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [10]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        janeDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [11]:
filt = df['last'] == 'Doe'
df.drop(index=df[filt].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers